$loading_spinner : (
    anim_division : 4
);


/// Mixin pushed-ball-x : Détermine les keyframes de l'animation sur les x
@mixin pushed-ball-x {

    $repeat : map-get($loading_spinner, anim_division);
    $x_increment : 0;
    $x_positions : ();


    @keyframes pushed-ball-x {

        @for $i from 0 to $repeat {
            $prct_increment : 100% / $repeat * $i;

            @if not ( $i == $repeat - 1 ) {

                $x_positions : (
                    0% + $x_increment, 
                    80% + $x_increment, 
                    $x_increment + 174%
                );
                $x_increment : $x_increment + 174%;  

            } @else {

                $x_positions : (
                    0% + $x_increment, 
                    $x_increment/2, 
                    0%
                );

            }

            #{ 0% / $repeat + $prct_increment } {
                transform: translateX(nth( $x_positions, 1 ));
                animation-timing-function : cubic-bezier(.49,0,.74,1);        
            }

            #{ 12.5% / $repeat + $prct_increment } {
                transform: translateX(nth( $x_positions, 2 ));
                animation-timing-function :  cubic-bezier(.1,0,.62,.99);
            }

            #{ 29% / $repeat + $prct_increment }, #{ 100% / $repeat + $prct_increment } {
                transform: translateX(nth( $x_positions, 3 ));
            }  
            
        }

    }
}

/// Mixin pushed-ball-y : Détermine les keyframes de l'animation sur les y
@mixin pushed-ball-y {

    $repeat : map-get($loading_spinner, anim_division);

    @keyframes pushed-ball-y {

        @for $i from 0 to $repeat {

            $prct_increment : 100% / $repeat * $i;

            $way-y : 1;
            @if not ($i%2 == 0) { $way-y: -1; }

            #{ 0% / $repeat  + $prct_increment } {
                transform: translateY(0);
                animation-timing-function : cubic-bezier(0,.01,.13,1);  
            }

            #{ 12.5% / $repeat  + $prct_increment } {
                transform: translateY(-152% * $way-y  );
                animation-timing-function :  cubic-bezier(.63,.01,.76,1);
            }

            #{ 29% / $repeat  + $prct_increment } {
                transform: translateY(0);
                animation-timing-function :  cubic-bezier(0,0,.24,.99);
            }

            #{ 39.5% / $repeat  + $prct_increment } {
                transform: translateY(13% * $way-y );
                animation-timing-function : ease-in-out;
            }

            #{ 50% / $repeat  + $prct_increment } {
                transform: translateY(0);
            }

            @if ($i == $repeat -1 ) {
                #{ 100% / $repeat  + $prct_increment } {
                    transform: translateY(0);
                }  
            }

        }

    }    
}
