@mixin robotoTypo($styleName) {
    font-family : 'Roboto-#{$styleName}', Arial, Helvetica, sans-serif;
}

@mixin typography($name) {
    font-family : $name, Arial, Helvetica, sans-serif;
}

@mixin setBoxShadow ($color : rgba(0,0,0,0.3)) {
    box-shadow: 0 3px 10px -3px $color;
}

@mixin box-shadow-6-layer( $alpha : (0.014, 0.035, 0.059, 0.084, 0.109, 0.13) ) {
    box-shadow:
    0 10.3px 17.4px -23px   rgba(0, 0, 0, nth($alpha, 1)),
    0 15.8px 22.7px -23px   rgba(0, 0, 0, nth($alpha, 2)),
    0 19.3px 24.7px -23px   rgba(0, 0, 0, nth($alpha, 3)),
    0 21.7px 26.4px -23px   rgba(0, 0, 0, nth($alpha, 4)),
    0 23.4px 31.4px -23px   rgba(0, 0, 0, nth($alpha, 5)),
    0 27px 67px -23px       rgba(0, 0, 0, nth($alpha, 6));
}

@mixin setSize($width : auto, $height : auto){
    width : $width;
    height : $height;
}

@mixin setFlexCenterCenter($isImportant : false) {
    $importantTag : '';
    @if($isImportant){ $importantTag : '!important'; }

    display : flex #{$importantTag};
    justify-content: center;
    align-items: center;
}

@mixin objectFitCoverCenterCenter ($height, $width : 100%) {
    height: $height;
    width: $width;
    object-fit: cover;
    object-position: center center;
}


@mixin setEllipsis{
    text-overflow: ellipsis;
    white-space : nowrap;
    overflow : hidden;
}

@mixin setRobotoFonts {
    $RobotoFonts : (
        "Roboto-Light",
        "Roboto-Regular",
        "Roboto-Medium",
        "Roboto-Bold"
    );

    @each $name in $RobotoFonts {
        @font-face {
            font-family:$name;
            src: url("../fonts/Roboto/#{$name}.ttf") format('truetype');
        }
    }
}

@mixin addFadeInDelayModifier($howMany : 1, $time : 0.5s, $delay : 0.15s) {

    @for $i from 1 to ($howMany+1) {
        &--fadeIn-dl-#{$i} {
            animation : fadeIn $time ease-in-out #{ $delay * ($i - 1) }  backwards ;
        }
    }

}


@mixin setMediaScreen($screen) {
    @media screen and (min-width : map-get($min-breakpoints, $screen)) {
        @content;
    }
}



