@charset "UTF-8";
/* -- Colors -- */
/* -- Fonts -- */
/* -- global -- */
/* -- home -- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -- Déclaration de toutes les fonts -- */
/* ++ Shrikhand Font ++ */
@font-face {
  font-family: "Shrikhand";
  src: url("../fonts/Shrikhand-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
*, *::after, *::before {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  font-family: "Roboto-Light", Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1em;
}

a, input {
  text-decoration: none;
  color: inherit;
}
a:hover, input:hover {
  color: inherit;
}
a:visited, input:visited {
  color: inherit;
}

button {
  border: none;
}

.btn {
  display: inline-block;
  padding: 17.5px 22px;
  min-width: 186px;
  border-radius: 100px;
  background: linear-gradient(350deg, #9356DC 0%, #FF79DA 100%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  font-family: "Roboto-Medium", Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  user-select: none;
}
.btn a {
  width: 100%;
  height: 100%;
}

.card {
  display: block;
  position: relative;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
}
.card:not(:last-child) {
  margin: 0 0 18px 0;
}
.card__tag {
  position: absolute;
  top: 12px;
  right: 12px;
}
.card__thumb {
  height: 174px;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}
.card__caption {
  display: flex;
  align-items: flex-star;
  padding: 15px 12px;
}
.card__title {
  font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin: 0 0 7px 0;
}
.card p {
  font-size: 17px;
}
.card__like {
  font-size: 23px;
  margin: 0 9px 0 0;
  padding: 3px;
  margin-left: auto;
}

.check-card {
  position: relative;
  display: flex;
  padding: 14px 11px 12px 11px;
  overflow: hidden;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.check-card--fadeIn-dl-1 {
  animation: fadeIn 0.5s ease-in-out 0s backwards;
}
.check-card--fadeIn-dl-2 {
  animation: fadeIn 0.5s ease-in-out 0.15s backwards;
}
.check-card--fadeIn-dl-3 {
  animation: fadeIn 0.5s ease-in-out 0.3s backwards;
}
.check-card--fadeIn-dl-4 {
  animation: fadeIn 0.5s ease-in-out 0.45s backwards;
}
.check-card:not(:last-child) {
  margin-bottom: 14px;
}
.check-card:hover .check-card__check {
  width: 60px;
  transform: translateX(-30px);
}
.check-card:hover .check-card__icon-check {
  transform: rotate(360deg);
}
.check-card:hover .check-card__content {
  width: calc(100% - 60px + 11px );
}
.check-card__content {
  display: flex;
  align-items: flex-end;
  width: 100%;
  padding: 0 12px 0 0;
  line-height: 18px;
  transition: width 0.3s ease-out;
}
.check-card__content div {
  flex: 1;
  min-width: 0;
}
.check-card__title {
  margin-bottom: 6px;
  font-size: 18px;
  font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.check-card__text {
  font-size: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.check-card__price {
  font-size: 15px;
  letter-spacing: 0;
  color: #101010;
  font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
}
.check-card__check {
  position: absolute;
  right: calc(30px * -1);
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 100%;
  color: white;
  font-size: 20px;
  background-color: #99E2D0;
  transition: width 0.3s, transform 0.3s ease-out;
  transform: translateX(0);
}
.check-card__icon-check {
  transition: transform 0.3s 0.1s ease-out;
  transform: rotate(90deg);
}

.step-btn {
  position: relative;
  display: flex;
  align-items: center;
  height: 71px;
  padding: 0 34px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  background-color: #f6f6f6;
  border-radius: 20px;
  font-family: "Roboto-Medium", Arial, Helvetica, sans-serif;
}
.step-btn--fadeIn-dl-1 {
  animation: fadeIn 0.5s ease-in-out 0s backwards;
}
.step-btn--fadeIn-dl-2 {
  animation: fadeIn 0.5s ease-in-out 0.15s backwards;
}
.step-btn--fadeIn-dl-3 {
  animation: fadeIn 0.5s ease-in-out 0.3s backwards;
}
.step-btn__number {
  width: 24px;
  position: absolute;
  left: -12px;
  background-color: #9356DC;
  border-radius: 30px;
  color: white;
  text-align: center;
  font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 24px;
}
.step-btn__icon {
  font-size: 20px;
  width: 40px;
  color: #7e7e7e;
}

.tag {
  padding: 7.5px 12px;
  border-radius: 2px;
  font-family: "Roboto-Medium", Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.tag--new {
  color: #008766;
  background-color: #99E2D0;
}

.locationForm {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1) inset;
  background-color: #eaeaea;
  color: #353535;
}
.locationForm label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  cursor: text;
}
.locationForm__icon {
  margin: 0 15px 0 0;
}
.locationForm__field {
  width: 140px;
  height: 50px;
  border: none;
  background-color: transparent;
  font-size: 15.5px;
  letter-spacing: 0.2px;
  font-family: "Roboto-Medium", Arial, Helvetica, sans-serif;
}
.locationForm__field:focus {
  outline: none;
}

.l-header {
  position: relative;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 11px 0 0 0;
}
.l-header__logo {
  width: 164px;
  border: 1px solid red;
}
.l-header__return-btn {
  position: absolute;
  display: none !important;
  left: 0;
  padding: 0 23px;
  height: 100%;
  border: 1px solid red;
  font-size: 20px;
}
.l-header__return-btn--visible {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.l-main {
  flex: 1;
}

.l-footer {
  min-height: 197px;
  background-color: #353535;
  color: white;
  padding: 25px;
}
.l-footer__logo {
  width: 99px;
  display: block;
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin: 0 0 31px 0;
}
.l-footer__logo path {
  fill: white;
}
.l-footer__list-item {
  padding: 0 0 10px 0;
  letter-spacing: 0.1px;
}
.l-footer__list-item--icon {
  font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
}
.l-footer__list-item--icon i {
  display: inline-block;
  font-size: 12px;
  width: 17px;
}
.l-footer__list-item a:hover {
  text-decoration: underline;
}

.loading-display {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: white;
  z-index: 3;
}

.presentation {
  padding: 39px 20px 56px 20px;
  background-color: #f6f6f6;
  text-align: center;
}
.presentation h1 {
  margin-bottom: 12px;
  font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
  font-size: 24px;
  padding: 0 30px;
  line-height: 28px;
}
.presentation p {
  line-height: 22px;
  font-size: 18px;
  margin-bottom: 30px;
}

.operation {
  padding: 56px 20px;
}
.operation h2 {
  margin-bottom: 34px;
  font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
  font-size: 24px;
}
.operation__list {
  padding: 0 12px;
}
.operation__list-item:not(:last-child) {
  margin: 0 0 24px 0;
}

.restaurant {
  background-color: #f6f6f6;
  padding: 56px 20px;
}
.restaurant h2 {
  margin-bottom: 34px;
  font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
  font-size: 24px;
}

.restau__thumb {
  position: absolute;
  top: 63px;
  z-index: -1;
  height: 255px;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}
.restau__menu {
  margin-top: 217px;
  padding: 38px 14px 33px 14px;
  border-radius: 40px 40px 0 0;
  background-color: #f6f6f6;
}
.restau__caption {
  display: flex;
  align-items: center;
  margin: 0 5px 31px 5px;
}
.restau__name {
  font-family: "shrikhand", Arial, Helvetica, sans-serif;
  color: #101010;
  font-size: 28px;
}
.restau__like {
  font-size: 23px;
  margin: 0 0 0 auto;
}
.restau__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.menu-section__title {
  width: 40px;
  padding: 7px 0;
  margin-bottom: 14px;
  font-size: 15.5px;
  white-space: nowrap;
  border-bottom: 3px solid #99E2D0;
}
.menu-section:not(:last-child) {
  margin: 0 0 35px 0;
}

/*# sourceMappingURL=styles.css.map */
