@charset "UTF-8";
/* -- Colors -- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -- Déclaration de toutes les fonts -- */
/* ++ Shrikhand Font ++ */
@font-face {
  font-family: "Shrikhand";
  src: url("../fonts/Shrikhand-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "heart";
  src: url("../fonts/heart/heart.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes pushed-ball-x {
  0% {
    transform: translateX(0%);
    animation-timing-function: cubic-bezier(0.49, 0, 0.74, 1);
  }
  3.125% {
    transform: translateX(80%);
    animation-timing-function: cubic-bezier(0.1, 0, 0.62, 0.99);
  }
  7.25%, 12.5% {
    transform: translateX(174%);
  }
  25% {
    transform: translateX(174%);
    animation-timing-function: cubic-bezier(0.49, 0, 0.74, 1);
  }
  28.125% {
    transform: translateX(254%);
    animation-timing-function: cubic-bezier(0.1, 0, 0.62, 0.99);
  }
  32.25%, 37.5% {
    transform: translateX(348%);
  }
  50% {
    transform: translateX(348%);
    animation-timing-function: cubic-bezier(0.49, 0, 0.74, 1);
  }
  53.125% {
    transform: translateX(428%);
    animation-timing-function: cubic-bezier(0.1, 0, 0.62, 0.99);
  }
  57.25%, 62.5% {
    transform: translateX(522%);
  }
  75% {
    transform: translateX(522%);
    animation-timing-function: cubic-bezier(0.49, 0, 0.74, 1);
  }
  78.125% {
    transform: translateX(602%);
    animation-timing-function: cubic-bezier(0.1, 0, 0.62, 0.99);
  }
  82.25%, 87.5% {
    transform: translateX(696%);
  }
  100% {
    transform: translateX(696%);
  }
}
@keyframes pushed-ball-y {
  0% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0.01, 0.13, 1);
  }
  3.125% {
    transform: translateY(-152%);
    animation-timing-function: cubic-bezier(0.63, 0.01, 0.76, 1);
  }
  7.25% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.24, 0.99);
  }
  9.875% {
    transform: translateY(13%);
    animation-timing-function: ease-in-out;
  }
  12.5% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0.01, 0.13, 1);
  }
  28.125% {
    transform: translateY(152%);
    animation-timing-function: cubic-bezier(0.63, 0.01, 0.76, 1);
  }
  32.25% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.24, 0.99);
  }
  34.875% {
    transform: translateY(-13%);
    animation-timing-function: ease-in-out;
  }
  37.5% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0.01, 0.13, 1);
  }
  53.125% {
    transform: translateY(-152%);
    animation-timing-function: cubic-bezier(0.63, 0.01, 0.76, 1);
  }
  57.25% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.24, 0.99);
  }
  59.875% {
    transform: translateY(13%);
    animation-timing-function: ease-in-out;
  }
  62.5% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0.01, 0.13, 1);
  }
  78.125% {
    transform: translateY(152%);
    animation-timing-function: cubic-bezier(0.63, 0.01, 0.76, 1);
  }
  82.25% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.24, 0.99);
  }
  84.875% {
    transform: translateY(-13%);
    animation-timing-function: ease-in-out;
  }
  87.5% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  font-family: "Roboto-Light", Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1em;
}

a, input {
  text-decoration: none;
  color: inherit;
}
a:hover, a:visited, input:hover, input:visited {
  color: inherit;
}

button {
  border: none;
}

.svg-defs {
  display: none;
}

.default-btn {
  display: inline-block;
  min-width: 186px;
  padding: 17.5px 22px;
  height: 100%;
  border-radius: 100px;
  background: linear-gradient(350deg, #9356DC 0%, #FF79DA 100%);
  box-shadow: 0 3px 10px -3px rgba(0, 0, 0, 0.4);
  font-family: "Roboto-Medium", Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  user-select: none;
}
.default-btn:hover {
  background: linear-gradient(350deg, #965add 0%, #ff93e1 100%);
  box-shadow: 0 3px 10px -3px rgba(0, 0, 0, 0.7);
}
.default-btn:hover, .default-btn:visited {
  color: white;
}

.like-btn {
  position: relative;
  cursor: pointer;
  font-family: "heart";
}
.like-btn__stroke {
  position: relative;
  z-index: 2;
}
.like-btn__stroke::before {
  content: "";
}
.like-btn__fill {
  position: absolute;
  /* opacity : 0;  Uniquement là pour éviter de voir le coeur rouge au chargement de la page */
  top: 0;
  left: 0;
  transform: scale(0);
  transition: transform ease-out 0.3s;
}
.like-btn__fill::before {
  content: "";
}
.like-btn__fill--default {
  color: #b3b3b3;
}
.like-btn__fill--active {
  z-index: 1;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(350deg, #9356DC 0%, #FF79DA 100%);
}
.like-btn:hover .like-btn__fill--default {
  transform: scale(0.9);
}
.like-btn:hover .like-btn__stroke {
  color: linear-gradient(350deg, #9356DC 0%, #FF79DA 100%);
}
.like-btn:active .like-btn__stroke, .like-btn:focus .like-btn__stroke {
  color: #18092a;
}
.like-btn:active .like-btn__fill--active, .like-btn:focus .like-btn__fill--active {
  transform: scale(0.9);
}

.check-card {
  position: relative;
  display: flex;
  align-items: center;
  padding: 14px 11px 12px 11px;
  overflow: hidden;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 3px 10px -3px rgba(0, 0, 0, 0.3);
}
.check-card--fadeIn-dl-1 {
  animation: fadeIn 0.5s ease-in-out 0s backwards;
}
.check-card--fadeIn-dl-2 {
  animation: fadeIn 0.5s ease-in-out 0.15s backwards;
}
.check-card--fadeIn-dl-3 {
  animation: fadeIn 0.5s ease-in-out 0.3s backwards;
}
.check-card--fadeIn-dl-4 {
  animation: fadeIn 0.5s ease-in-out 0.45s backwards;
}
.check-card:active .check-card__check, .check-card:focus .check-card__check {
  width: 60px;
  transform: translateX(-30px);
}
.check-card:active .check-card__icon-check, .check-card:focus .check-card__icon-check {
  transform: rotate(360deg);
}
.check-card:active .check-card__content, .check-card:focus .check-card__content {
  width: calc(100% - 60px + 11px );
}
.check-card:hover {
  box-shadow: 0 3px 10px -3px rgba(0, 0, 0, 0.5);
}
.check-card__content {
  display: flex;
  align-items: flex-end;
  width: 100%;
  padding: 0 12px 0 0;
  line-height: 18px;
  transition: width 0.3s ease-out;
}
.check-card__content div {
  flex: 1;
  min-width: 0;
}
.check-card__title {
  margin-bottom: 6px;
  font-size: 18px;
  font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.check-card__text {
  font-size: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.check-card__price {
  font-size: 15px;
  letter-spacing: 0;
  color: #101010;
  font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
}
.check-card__check {
  position: absolute;
  right: calc(30px * -1);
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 100%;
  color: white;
  font-size: 20px;
  background-color: #99E2D0;
  transition: width 0.3s, transform 0.3s ease-out;
  transform: translateX(0);
}
.check-card__icon-check {
  transition: transform 0.3s 0.1s ease-out;
  transform: rotate(90deg);
}

.default-card {
  display: block;
  position: relative;
  flex-basis: 100%;
  overflow: hidden;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 10.3px 17.4px -23px rgba(0, 0, 0, 0.014), 0 15.8px 22.7px -23px rgba(0, 0, 0, 0.035), 0 19.3px 24.7px -23px rgba(0, 0, 0, 0.059), 0 21.7px 26.4px -23px rgba(0, 0, 0, 0.084), 0 23.4px 31.4px -23px rgba(0, 0, 0, 0.109), 0 27px 67px -23px rgba(0, 0, 0, 0.13);
}
.default-card:hover {
  box-shadow: 0 10.3px 17.4px -23px rgba(0, 0, 0, 0.034), 0 15.8px 22.7px -23px rgba(0, 0, 0, 0.055), 0 19.3px 24.7px -23px rgba(0, 0, 0, 0.079), 0 21.7px 26.4px -23px rgba(0, 0, 0, 0.104), 0 23.4px 31.4px -23px rgba(0, 0, 0, 0.129), 0 27px 67px -23px rgba(0, 0, 0, 0.33);
}
.default-card__tag {
  position: absolute;
  top: 12px;
  right: 12px;
}
.default-card__thumb {
  height: 174px;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}
.default-card__caption {
  display: flex;
  align-items: flex-star;
  padding: 15px 12px;
}
.default-card__title {
  font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin: 0 0 7px 0;
}
.default-card__title:hover {
  text-decoration: underline;
}
.default-card p {
  font-size: 17px;
}
.default-card__like {
  font-size: 23px;
  margin: 0 9px 0 0;
  padding: 3px;
  margin-left: auto;
}

.step-btn {
  position: relative;
  display: flex;
  align-items: center;
  height: 71px;
  padding: 0 34px;
  box-shadow: 0 3px 10px -3px rgba(0, 0, 0, 0.2);
  background-color: #f6f6f6;
  border-radius: 20px;
  font-family: "Roboto-Medium", Arial, Helvetica, sans-serif;
}
.step-btn--fadeIn-dl-1 {
  animation: fadeIn 0.5s ease-in-out 0s backwards;
}
.step-btn--fadeIn-dl-2 {
  animation: fadeIn 0.5s ease-in-out 0.15s backwards;
}
.step-btn--fadeIn-dl-3 {
  animation: fadeIn 0.5s ease-in-out 0.3s backwards;
}
.step-btn:hover {
  background-color: #f5edff;
  box-shadow: 0 3px 10px -3px rgba(0, 0, 0, 0.35);
}
.step-btn__number {
  width: 24px;
  position: absolute;
  left: -12px;
  background-color: #9356DC;
  border-radius: 30px;
  color: white;
  text-align: center;
  font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 24px;
}
.step-btn__icon {
  font-size: 20px;
  width: 40px;
  color: #7e7e7e;
}

.location-form {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1) inset;
  background-color: #eaeaea;
  color: #353535;
}
.location-form .default-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.location-form label {
  width: 100%;
  cursor: text;
}
.location-form__icon {
  margin: 0 15px 0 0;
}
.location-form__field {
  width: 140px;
  height: 50px;
  border: none;
  background-color: transparent;
  font-size: 15.5px;
  letter-spacing: 0.2px;
  font-family: "Roboto-Medium", Arial, Helvetica, sans-serif;
}
.location-form__field:focus {
  outline: none;
}

.ball {
  width: 30px;
  height: 30px;
  margin-right: 21.9px;
}
.ball__anim-x, .ball__anim-y, .ball__object {
  width: inherit;
  height: inherit;
}
.ball--0 {
  transform: translateX(0%);
}
.ball--0 .ball__object {
  background-color: #0157e7;
}
.ball--0 .ball__anim-x {
  animation: pushed-ball-x 4s 0s infinite;
}
.ball--0 .ball__anim-y {
  animation: pushed-ball-y 4s 0s infinite;
}
.ball--1 {
  transform: translateX(-174%);
}
.ball--1 .ball__object {
  background-color: #d62d20;
}
.ball--1 .ball__anim-x {
  animation: pushed-ball-x 4s -0.8s infinite;
}
.ball--1 .ball__anim-y {
  animation: pushed-ball-y 4s -0.8s infinite;
}
.ball--2 {
  transform: translateX(-348%);
}
.ball--2 .ball__object {
  background-color: #ffa700;
}
.ball--2 .ball__anim-x {
  animation: pushed-ball-x 4s -1.6s infinite;
}
.ball--2 .ball__anim-y {
  animation: pushed-ball-y 4s -1.6s infinite;
}
.ball--3 {
  transform: translateX(-522%);
}
.ball--3 .ball__object {
  background-color: #33b5e6;
}
.ball--3 .ball__anim-x {
  animation: pushed-ball-x 4s -2.4s infinite;
}
.ball--3 .ball__anim-y {
  animation: pushed-ball-y 4s -2.4s infinite;
}
.ball--4 {
  transform: translateX(-696%);
}
.ball--4 .ball__object {
  background-color: #018845;
}
.ball--4 .ball__anim-x {
  animation: pushed-ball-x 4s -3.2s infinite;
}
.ball--4 .ball__anim-y {
  animation: pushed-ball-y 4s -3.2s infinite;
}
.ball__object {
  border-radius: 30px;
  background-color: grey;
}

.menu-section {
  width: 100%;
}
.menu-section__title {
  width: 40px;
  padding: 7px 0;
  margin-bottom: 14px;
  font-size: 15.5px;
  white-space: nowrap;
  border-bottom: 3px solid #99E2D0;
}
.menu-section .check-card:not(:last-child) {
  margin-bottom: 14px;
}
.menu-section:not(:last-child) {
  margin: 0 0 35px 0;
}
@media screen and (min-width: 1025px) {
  .menu-section__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .menu-section .check-card {
    flex-basis: calc((100/3)*1% - 20px);
    padding: 20px 0 20px 20px;
  }
  .menu-section .check-card__price {
    padding: 0 20px 0 0;
  }
  .menu-section .check-card:not(:last-child) {
    margin-bottom: 0px;
  }
}

.tag {
  padding: 7.5px 12px;
  border-radius: 2px;
  font-family: "Roboto-Medium", Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.tag--new {
  color: #008766;
  background-color: #99E2D0;
}

.header .relative-container {
  height: 52px;
  padding: 6px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo {
  padding: 5px 0 0 0;
  width: 164px;
}
.header__return-btn {
  position: absolute;
  display: none !important;
  left: 0;
  top: -6px;
  bottom: 0;
  padding: 0 23px;
  font-size: 20px;
}
.header__return-btn::before {
  padding-top: 6px;
}
.header__return-btn--visible {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.main {
  flex: 1;
}

.footer {
  padding: 56px 0;
  min-height: 197px;
  background-color: #353535;
  color: white;
}
.footer__logo {
  width: 99px;
  display: block;
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin: 0 0 31px 0;
}
.footer__logo path {
  fill: white;
}
.footer__list-item {
  padding: 0 0 10px 0;
  letter-spacing: 0.1px;
}
.footer__list-item--icon {
  font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
}
.footer__list-item--icon i {
  display: inline-block;
  font-size: 12px;
  width: 17px;
}
.footer__list-item a:hover {
  text-decoration: underline;
}

.default-container {
  width: 100%;
  max-width: 1440px;
  margin: auto;
}

.relative-container {
  width: 100%;
  position: relative;
}

.loading-display {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  z-index: 3;
}
.loading-display__loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.index .default-container {
  padding: 0 20px;
}
@media screen and (min-width: 769px) {
  .index .default-container {
    padding: 0 50px;
  }
}
.index h2 {
  font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
  font-size: 24px;
  margin-bottom: 34px;
}

.presentation {
  padding: 39px 0 56px 0;
  background-color: #f6f6f6;
  text-align: center;
}
.presentation h1 {
  font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
  margin-bottom: 12px;
  font-size: 24px;
  padding: 0 30px;
  line-height: 28px;
}
.presentation p {
  line-height: 22px;
  font-size: 18px;
  margin-bottom: 30px;
}

.operation {
  padding: 56px 0;
}
.operation__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 12px;
  width: 100%;
}
@media screen and (min-width: 1025px) {
  .operation__list {
    flex-direction: row;
  }
}
@media screen and (min-width: 1025px) {
  .operation__list-item {
    flex-basis: calc( (100/3) * 1% - 20px );
  }
}
.operation__list-item:not(:last-child) {
  margin: 0 0 24px 0;
}

.restaurant {
  background-color: #f6f6f6;
  padding: 56px 0;
}
.restaurant .default-card:not(:last-child) {
  margin: 0 0 18px 0;
}
@media screen and (min-width: 769px) {
  .restaurant .default-card:not(:last-child) {
    margin: 0;
  }
}
@media screen and (min-width: 426px) {
  .restaurant .default-card:not(:last-child) {
    margin: 0 0 30px 0;
  }
}
@media screen and (min-width: 769px) {
  .restaurant .default-card {
    flex-basis: calc(50% - 15px);
  }
  .restaurant .default-card:not(:last-child) {
    margin: 0;
  }
  .restaurant .default-card:not(:nth-last-child(-n+2)) {
    margin: 0 0 30px 0;
  }
}
@media screen and (min-width: 1025px) {
  .restaurant .default-card__thumb {
    height: 250px;
  }
}
.restaurant__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu-restaurant {
  position: relative;
  padding-top: 203px;
}
.menu-restaurant__thumb {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 255px;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}
@media screen and (min-width: 769px) {
  .menu-restaurant__thumb {
    height: 350px;
  }
}
@media screen and (min-width: 1025px) {
  .menu-restaurant__thumb {
    height: 500px;
  }
}
.menu-restaurant__content {
  padding: 38px 14px;
  border-radius: 40px 40px 0 0;
  background-color: #f6f6f6;
}
@media screen and (min-width: 769px) {
  .menu-restaurant__content {
    padding: 48px 40px;
  }
}
.menu-restaurant__header {
  display: flex;
  align-items: center;
  margin: 0 5px 31px 5px;
}
.menu-restaurant__title {
  font-family: "shrikhand", Arial, Helvetica, sans-serif;
  color: #101010;
  font-size: 28px;
}
.menu-restaurant__like {
  margin: 0 0 0 auto;
}
.menu-restaurant__main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.menu-restaurant__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}
@media screen and (min-width: 769px) {
  .menu-restaurant {
    padding-top: 298px;
  }
}
@media screen and (min-width: 1025px) {
  .menu-restaurant {
    padding-top: 448px;
  }
}

@media screen and (min-width: 1025px) {
  .starter .check-card {
    flex-basis: calc((100/3)*1% - 20px);
    padding: 20px 0 20px 20px;
  }
  .starter .check-card__price {
    padding: 0 20px 0 0;
  }
  .starter .check-card:not(:last-child) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 769px) {
  .main-course, .dessert {
    width: calc(50% - 15px);
  }
  .main-course .check-card, .dessert .check-card {
    flex-basis: 100%;
    margin-bottom: 30px !important;
  }
}

/*# sourceMappingURL=styles.css.map */
