$__ball_diameter : 20px;
$spacing : $__ball_diameter * 0.75;
$anim-duration : 2s;
$decal : 0.4 * $anim-duration * -1  ;

$length : 2;

    //animation : static $anim-duration*4 steps(1,end) infinite;




.ball {

    width : $__ball_diameter;
    height : $__ball_diameter; 
    margin-right : ($__ball_diameter / 1px) * 0.73px;



    &__anim-x, &__anim-y, &__object {
        width : inherit;
        height : inherit;
    }

    $color-balls : #0157e7, #d62d20, #ffa700, #33b5e6, #018845;

    @for $i from 0 to 5 {
        &--#{$i} {

            transform : translateX(-174% * $i);

            .ball {
                &__object {
                    background-color : nth($color-balls, $i+1);
                }

                &__anim-x {
                    animation : pushed-ball-x $anim-duration*$length #{$i*$decal} infinite;
                }
            
                &__anim-y {
                    animation : pushed-ball-y $anim-duration*$length #{$i*$decal} infinite;
                }                
            }
        }
    }



    &__object {
        border-radius : $__ball_diameter;
        background-color : grey;
    }

}

