
$anim-duration : 2s;
$decal : 0.4 * $anim-duration * -1  ;

$length : 2;
$color-balls : $primary, #d66cdb, #bf64db, #b661db, $secondary;


.ball {

    width : $__ball_diameter;
    height : $__ball_diameter; 
    margin-right : ($__ball_diameter / 1px) * 0.73px;



    &__anim-x, &__anim-y, &__object {
        width : inherit;
        height : inherit;
    }

    

    @for $i from 0 to 5 {
        &--#{$i} {

            transform : translateX(-174% * $i);

            .ball {
                &__object {
                    background-color : nth($color-balls, $i+1);
                }

                &__anim-x {
                    animation : pushed-ball-x $anim-duration*$length #{$i*$decal};
                    animation-iteration-count : 2;
                }
            
                &__anim-y {
                    animation : pushed-ball-y $anim-duration*$length #{$i*$decal};
                    animation-iteration-count : 2;
                }                
            }
        }
    }



    &__object {
        border-radius : $__ball_diameter;
        background-color : grey;
    }

}

