.menu-section {

    flex-basis : 100%;

    &:not(:last-child) {
        margin : 0 0 35px 0;
    }

    &__title {
        width : 40px;
        padding : 7px 0;
        margin-bottom : 14px;
    
        font-size: 15.5px;
        white-space: nowrap;
    
        border-bottom: 3px solid $tertiary;
    }
    


    &__card {

        &:not(:last-child)  {
            margin-bottom : 14px;
        }
    }


    
    &.main-course, &.dessert { 
        @include setMediaScreen(laptop) {
            flex-basis : calc(50% - 15px);
        }
    }

    &.main-course {
        @include setMediaScreen(laptop) {
            margin-right : 30px;
        }
    }



    &.main-course &__card, &.dessert &__card {
        &:not(:last-child) {
            margin-bottom : 30px;
        }
    }


}