.step-btn {
    position : relative;
    display : flex;
    align-items: center;
    height : 71px;
    padding : 0 34px;

    @include setBoxShadow;
    background-color: $fifth;

    border-radius : 20px;

    @include robotoTypo('Medium');

    @include addFadeInDelayModifier($howMany : 3);


    &__number {
        width : 24px;
        position : absolute;
        left : -12px;
        
        background-color : $primary;

        border-radius : 30px;

        color : white;
        text-align : center;
        @include robotoTypo('Regular');
        font-size : 14px;
        line-height: 24px;
    }

    &__description {

    }

    &__icon {
        font-size : 20px;
        width : 40px ;
        color : #7e7e7e;
    }

}