$heart-bg : rgb(241, 33, 78);

.like-btn {

    position : relative;
    cursor : pointer;
    width : 23px;

    &__stroke {
        position : relative;
        z-index : 1;

    }

    &__fill {
        position : absolute;
        top : 0;
        left : 0;

        fill : $heart-bg;

        transform: scale(0);
        transition: transform ease-out 0.3s;
    }

    &:hover{
        .like-btn {
            &__fill { 
                transform: scale(0.9);
            }
        }
    }

}