$heart-hover-bg : lighten(grey,20%);
$heart-active-bg : linear-gradient(350deg, $primary 0%, $secondary 100% );

.like-btn {

    position : relative;
    cursor : pointer;
    font-family: "heart";

    &__stroke {
        position : relative;
        z-index : 2;
        &::before {
            content : "\e901";
        }
    }

    &__fill {
        position : absolute;
        /* opacity : 0;  Uniquement là pour éviter de voir le coeur rouge au chargement de la page */
        top : 0;
        left : 0;

        transform: scale(0);
        transition: transform ease-out 0.3s ;


        &::before {
            content : "\e900";
        }

        &--default {
            color : lighten(grey, 20%);
        }

        &--active {
            z-index : 1;

            -webkit-background-clip: text;
                    background-clip: text;
            -webkit-text-fill-color: transparent;

            background-image : $heart-active-bg;
        }

    }

    &:hover {

        .like-btn {

            &__fill--default { 
                transform: scale(0.9);
            }

            &__stroke { 
                color : $heart-active-bg;
            }

        }

    }

    &:active, &:focus{
        .like-btn {
            &__stroke {
                color : darken($primary,50%);
            }
            &__fill--active { 
                transform: scale(0.9);
            }
        }
    }

}