.step-btn {
    position : relative;
    display : flex;
    align-items: center;
    height : 71px;
    padding : 0 34px;
    min-width : 0;

    @include setBoxShadow(rgba(0,0,0,0.2));
    background-color: $fifth;

    border-radius : 20px;

    @include robotoTypo('Medium');

    @include addFadeInDelayModifier($howMany : 3);



    &:hover {
        background-color : $sixth;
        @include setBoxShadow(rgba(0,0,0,0.35));
        .step-btn { 
            &__icon {
                color : $primary;
            }
        }
    }


    &__number {
        width : 24px;
        position : absolute;
        left : -12px;
        
        background-color : $primary;

        border-radius : 30px;

        color : white;
        text-align : center;
        @include robotoTypo('Regular');
        font-size : 14px;
        line-height: 24px;
    }

    &__description {
        @include setMediaScreen(laptop) {
            @include setEllipsis;            
        }

    }

    &__icon {
        font-size : 20px;
        width : 40px ;
        color : #7e7e7e;

        &--M {
            font-size : 18px;
        }

        &--S {
            font-size : 16px;
        }
    }

}