*, *::after, *::before {
    box-sizing : border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display : flex;
    flex-direction : column;
    min-height : 100vh;
    width : 100%;

    @include robotoTypo('Light');
    color : $primary-font;
    font-size : 1em;
}

a, input {
    text-decoration: none;
    color : inherit;
    &:hover, &:visited{
        color : inherit;
    }

}

button { 
    border :none;
}





