/* -- Déclaration de toutes les fonts -- */

/* ++ Shrikhand Font ++ */
@font-face {
    font-family: "Shrikhand";
    src: url("../fonts/Shrikhand-Regular.ttf") format('truetype');
}

/* ++ Roboto Font ++ */
$RobotoFonts : (
    "Roboto-Light",
    "Roboto-Regular",
    "Roboto-Medium",
    "Roboto-Bold"
);

@each $name in $RobotoFonts {
    @font-face {
        font-family:$name;
        src: url("../fonts/Roboto/#{$name}.ttf") format('truetype');
    }
}
