$__thumb_height : (
    mobile : 255px,
    laptop : 350px,
    desktop : 500px,
);

$menuPaddingTop : 38px;

.menu-restaurant {
    position : relative;
    padding-top : map_get($__thumb_height, mobile) - $header_height;

    
    &__thumb {
        position : absolute;
        top : 0;
        z-index: -1;
        @include objectFitCoverCenterCenter (map_get($__thumb_height, mobile));

        @include setMediaScreen(laptop) {
            height : map_get($__thumb_height, laptop);
        }

        @include setMediaScreen(desktop) {
            height : map_get($__thumb_height, desktop);
        }
    }

    &__content {
        padding : 38px  20px;
        border-radius : 40px 40px 0 0;
        background-color : $fifth;  
        
        @include setMediaScreen(laptop) { 
            padding : 50px;
        }
    }

    &__header {
        display : flex;
        align-items : center;
        margin : 0 5px 31px 5px;
    }

    &__title {
        @include typography('Shrikhand');
        color  : $secondary-font;
        font-size : 28px;
    }

    &__like {
        margin : 0 0 0 auto;
    }

    &__main {
        @include setMediaScreen(laptop){
            display : flex;
            justify-content: space-between;
            flex-wrap: wrap;            
        }

    }

    &__footer {
        @include setFlexCenterCenter;
        margin : 50px 0;
    }

    @include setMediaScreen(laptop) {
        padding-top : map_get($__thumb_height, laptop) - $header_height;
    }

    @include setMediaScreen(desktop) {
        padding-top : map_get($__thumb_height, desktop) - $header_height;
    }

}

