.locationForm {
    width : 100%;

    box-shadow: 0 5px 10px rgba(0,0,0,0.1) inset;
    background-color : #eaeaea;
    
    color : $fourth;

    label {
        display : flex;
        align-items: center;
        justify-content: center;
        width : 100%;
        cursor : text;
    }

    &__icon{
        margin : 0 15px 0 0;
    }

    &__field {
        @include setSize(140px, 50px);
        border : none;

        background-color: transparent;

        font-size : 15.5px;
        letter-spacing: 0.2px;
        @include robotoTypo('Medium');

        &:focus {
            outline: none;
        }

    }
}