$margin : 90px;

.location-form {
    box-shadow: 0 5px 10px rgba(0,0,0,0.1) inset;
    background-color : #eaeaea;
    color : $fourth;

    .default-container {
        display : block;
        width : 100%;
    }

    label {
        width : 100%;
        cursor : text;
    }

    &__container {
        display : flex;
        align-items : center;
        width : auto;
        margin : 0 0 0 50%;
    }

    &__icon{
        margin : 0 0 0 $margin * -1;
    }

    &__field {
        padding : 0 0 0 15px;
        @include setSize( calc(100% + #{$margin} ), 50px);
        border : none;

        background-color: transparent;

        font-size : 15.5px;
        letter-spacing: 0.2px;
        @include robotoTypo('Medium');


        &:focus {
            outline: none;
        }

        @include setMediaScreen(tablette) {
            font-size : 18px;
            height : 70px;
        }

    }
}