.footer {
    padding : 56px 0;
    min-height : 197px;
    background-color : $fourth;
    color : white;
    

    &__logo {
        width : 99px;
        display: block;
        @include typography('Shrikhand');
        font-size : 18px;
        margin : 0 0 31px 0;
        
        path {
            fill : white;
        }

    }

    &__list-item {
        padding : 0 0 10px 0;
        letter-spacing: 0.1px;

        &--icon {
            @include robotoTypo('Regular');
            & i {
                display : inline-block;
                font-size : 12px;
                width : 17px;                
            }
        }

        a {
            &:hover {
                text-decoration: underline;
            }
        }

    }



}