.footer {
    padding : 56px 0;
    min-height : 197px;
    background-color : $fourth;
    color : white;


    &__logo {
        width : 99px;
        display: block;
        @include typography('Shrikhand');
        font-size : 18px;
        margin : 0 0 31px 0;
        
        @include setMediaScreen(tablette){
            width : 150px;
            margin : 0 auto 30px auto;
        }

        @include setMediaScreen(laptop){
            width : 200px;
            margin : 0 auto 40px auto;
        }

        path {
            fill : white;
        }

    }

    &__list {
        @include setMediaScreen(tablette){
            text-align: center;
        }

        @include setMediaScreen(laptop){
            display : flex;
            justify-content: center; 
        }
    }

    &__list-item {
        padding : 0 0 10px 0;
        letter-spacing: 0.1px;

        @include setMediaScreen(laptop){
           
            &:not(:last-child){
                margin : 0 15px 0 0;
            }
        }

        &--icon {
            @include robotoTypo('Regular');
            & i {
                display : inline-block;
                font-size : 12px;
                width : 17px;                
            }
        }

        a {
            &:hover {
                text-decoration: underline;
            }
        }
    }



}