.l-header {
    position : relative;
    height : 63px;
    display : flex;
    justify-content: center;
    align-items: center;
    
    &__logo {
        font-family : 'Shrikhand', Arial, Helvetica, sans-serif;
        color : $secondary-font;
        font-size : 30px;
    }

    &__return-btn {
        position : absolute;
        display:block !important;
        left : 0;
        padding : 0 23px;
        line-height : 63px !important;

        border : 1px solid red;
    }
}

.l-main {
    flex : 1;
}

.l-footer {
    height : 197px;
    background-color : $fourth;
    color : white;
    padding : 25px;
    
    &__logo {
        display: block;
        @include typography('Shrikhand');
        font-size : 18px;
        margin : 0 0 23px 0;
    }

    &__list-item {
        padding : 0 0 10px 0;
        letter-spacing: 0.1px;

        &--icon {
            @include typography('Roboto-Regular');
            & i {
                display : inline-block;
                font-size : 12px;
                width : 17px;                
            }
        }

        a {
            &:hover {
                text-decoration: underline;
            }
        }

    }

}


