.default-card {
    display : block;
    position :relative;
    width : 100%;
    
    overflow : hidden;

    background-color: white;

    border-radius: 15px;

    @include box-shadow-6-layer;

    &:hover {
        @include box-shadow-6-layer( (0.034, 0.055, 0.079, 0.104, 0.129, 0.33) )
    }

    &__tag {
        position : absolute;
        top : 12px;
        right : 12px;
    }

    &__thumb {
        height : 174px;
        width : 100%;
        object-fit : cover;
        object-position: center center;

        @include setMediaScreen(desktop) {
            height : 250px;
        }

    }

    &__caption {
        display : flex;
        padding : 15px 12px;
    }

    &__title {
        @include robotoTypo('Bold');
        font-size : 18px;
        margin : 0 0 7px 0;

        &:hover {
            text-decoration: underline;
        }
    }

    p {
        font-size: 17px;
        &:hover {
            text-decoration: underline;
        }
    }

    &__like {
        margin : 0 9px 0 0;
        padding : 3px;
        margin-left : auto;
    }





}
